<html>
   
   <head>
      <title>AngularJS</title>
   </head>
   
   <body>
      <h1>Our First Agnular App</h1>
      
      <div ng-app = "">
         <p>Enter your Name: <input type = "text" ng-model= "name"></p>


         <p>Hello <span ng-bind = "name"></span>!</p>

         <p ng-bind="name"></p>

         <input type="text" ng-model="email"/>
         <p ng-bind="email"></p>
      </div>
     
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      
   </body>
</html>

<!-- Example of Data Binding in Angular by Rajat -->