#current_weather {
    color: green;
    font-size: 30px;
    text-align: center;
}

#error_api {
    color: red;
    font-size: 30px;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;

}

#loader{
	margin-left:50%;
	margin-top:50%;
}


